<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Formulario de usuario</title>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav th:replace="base :: common_navigation_menu"></nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--<h1 class="page-header">Configuración de usuario</h1>-->
                    <h1 class="page-header"><span th:text="${propositoFormulario}"></span></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <form role="form">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Información del usuario
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <div class="form-group">
                                                <label for="FormUsuarioNombre">Nombre</label>
                                                <input class="form-control" name="FormUsuarioNombre"
                                                       id="FormUsuarioNombre" type="text"
                                                       th:value="${usuario.nombre}">
                                            </div>
                                            <div class="form-group">
                                                <label for="FormUsuarioEdad">Edad</label>
                                                <input class="form-control" name="FormUsuarioEdad"
                                                       id="FormUsuarioEdad" type="text"
                                                       th:value="${usuario.edad}">
                                            </div>

                                            <div th:each="telefono, iterStat : ${telefonos}">
                                                <div class="form-group">
                                                    <label th:for="'FormTelefonoTipo' + ${iterStat.index}">Tipo teléfono [[${iterStat.index + 1}]]</label>
                                                    <input class="form-control" th:name="|telefonos[${iterStat.index}].tipoTelefono|"
                                                           th:id="'FormTelefonoTipo' + ${iterStat.index}"
                                                           type="text" th:value="${telefono.tipoTelefono}">
                                                </div>

                                                <div class="form-group">
                                                    <label th:for="'FormTelefonoLada' + ${iterStat.index}">Lada [[${iterStat.index + 1}]]</label>
                                                    <input class="form-control" th:name="|telefonos[${iterStat.index}].lada|"
                                                           th:id="'FormTelefonoLada' + ${iterStat.index}"
                                                           type="text" th:value="${telefono.lada}">
                                                </div>

                                                <div class="form-group">
                                                    <label th:for="'FormTelefonoNumero' + ${iterStat.index}">Número [[${iterStat.index + 1}]]</label>
                                                    <input class="form-control" th:name="|telefonos[${iterStat.index}].numero|"
                                                           th:id="'FormTelefonoNumero' + ${iterStat.index}"
                                                           type="text" th:value="${telefono.numero}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input name="FormUsuarioId"
                                                       id="FormUsuarioId" type="hidden"
                                                       th:value="${usuario.idUsuario}">
                                            </div>
                                        </fieldset>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-success alert-dismissible col-lg-8" id="successModalMessage">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span id="successMessage"></span>
                        </div>
                        <div class="alert alert-danger alert-dismissible col-lg-8" id="errorModalMessage">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span id="errorMessage"></span>
                        </div>
                        <!-- /.panel -->
                        <button type="button" name="guardarUsuario" id="guardarUsuario" class="btn btn-primary btn-lg btn-block">Guardar</button>
                        <br/>&nbsp;
                    </form>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<footer th:replace="base :: common_footer(~{::script})">
    <script type="text/javascript">
            $(document).ready(function() {
                $("#errorModalMessage").hide();
                $("#successModalMessage").hide();

                //if submit button is clicked
                $('#guardarUsuario').click(function() {
                    $("#errorModalMessage").hide();
                    $("#successModalMessage").hide();

                   // Obtener los datos del usuario
                    var FormUsuarioId = $('input[name=FormUsuarioId]').val();
                    var FormUsuarioNombre = $('input[name=FormUsuarioNombre]').val();
                    var FormUsuarioEdad = $('input[name=FormUsuarioEdad]').val();

                    var datos = {
                        FormUsuarioId: FormUsuarioId,
                        FormUsuarioNombre: FormUsuarioNombre,
                        FormUsuarioEdad: FormUsuarioEdad
                    };

                    // Recopilar los datos de los teléfonos
                    $('input[name^="telefonos["][name$=".tipoTelefono"]').each(function(index) {
                        var tipoTelefono = $(this).val();
                        var ladaTelefono = $(`input[name="telefonos[${index}].lada"]`).val();
                        var numeroTelefono = $(`input[name="telefonos[${index}].numero"]`).val();

                        // Agregar los datos al objeto
                        datos[`telefonos[${index}].tipoTelefono`] = tipoTelefono;
                        datos[`telefonos[${index}].lada`] = ladaTelefono;
                        datos[`telefonos[${index}].numero`] = numeroTelefono;
                    });



                    $.ajax({
                        type: "POST",
                        data: datos,
                        url: "/guardar-usuario",
                        success: function(){
                            $("#successMessage").text("Usuario guardado correctamente.");
                            $("#successModalMessage").show();
                            console.log("Usuario creado con exito");
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            if(XMLHttpRequest.responseJSON.messages != null) {
                                $("#errorMessage").text("ERROR en los siguientes campos: " + XMLHttpRequest.responseJSON.messages);
                            } else {
                                $("#errorMessage").text("Ocurrio un error al GUARDAR el usuario, consulte al Administrador.");
                            }
                            $("#errorModalMessage").show();
                            console.log("Error");
                        }
                    });
                 });
            });
    </script>
</footer>
</body>
</html>
